.weatherDisplayContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:8px;
    height: fit-content;
    --bg-colour:hsl(258, 80%, 10%);

}

.weatherCurrentDisplay{
    aspect-ratio: 3/4;
    width: calc(300px - 20px);
    background-color: var(--bg-colour);
    border-right:var(--border-val) ;
    padding:20px;
    border-radius: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
}
.currentTitleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    position: relative;
    height: 25%;
}
.currentTitleContainer>h3, .currentTitleContainer>h1{
    margin: 0;
}
.currentMainContainer{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding-top: 20px;
}
.currentMainContainer>img, .weatherHourDisplay>img{
    aspect-ratio: 1/1;
    width:30%;
}

.currentMainContainer>p{
    margin: 0;
    font-size: 100%;
}

.weatherForcastDisplay{
    aspect-ratio: 4/2;
    width: calc(400px - 10px);
    background-color: var(--bg-colour);
    padding:10px;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap:5px;
}
@media screen and (max-width:420px) {
    .weatherForcastDisplay{
        width:calc(100svw - 40px)
    }
    .weatherCurrentDisplay{
        width:calc(71svw - 10px) ;
    }
}

.weatherHourDisplay{
    min-width: 150px;
    min-height: 100%;
    border-radius: 1em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 3px solid hsl(258, 80%, 15%);
}
.weatherHourDisplay>p{
    margin-top: 2px;
    margin-bottom: 2px;
}

@media screen and (max-width:290px) {
    .hourWindSpeedDisplay{
        display: none;
    }
}
